.candidate-container {
  .tech-list {
    margin: 20px 0px;
    .mat-checkbox {
      margin-right: 10px;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-radio-button {
    margin: 10px;
  }
  .field {
    margin: 10px 0px;
  }
}
